/* FONTS */

@import url('fonts/Inconsolata/Inconsolata-Bold.ttf');
@import url('fonts/Inconsolata/Inconsolata-Regular.ttf');

@import url('fonts/Lato/Lato-Black.ttf');
@import url('fonts/Lato/Lato-BlackItalic.ttf');
@import url('fonts/Lato/Lato-Bold.ttf');
@import url('fonts/Lato/Lato-BoldItalic.ttf');
@import url('fonts/Lato/Lato-Light.ttf');
@import url('fonts/Lato/Lato-LightItalic.ttf');
@import url('fonts/Lato/Lato-Regular.ttf');
@import url('fonts/Lato/Lato-RegularItalic.ttf');
@import url('fonts/Lato/Lato-Thin.ttf');
@import url('fonts/Lato/Lato-ThinItalic.ttf');

@import url('fonts/Roboto_Slab/RobotoSlab-Bold.ttf');
@import url('fonts/Roboto_Slab/RobotoSlab-Light.ttf');
@import url('fonts/Roboto_Slab/RobotoSlab-Regular.ttf');
@import url('fonts/Roboto_Slab/RobotoSlab-Thin.ttf');

@font-face {
  font-family: Roboto Slab;
  src: url('fonts/Roboto_Slab/RobotoSlab-Regular.ttf');
}

@font-face {
  font-family: Lato;
  src: url('fonts/Lato/Lato-Regular.ttf');
}

h1, h2, h3, h4, h5, h6, legend {
    margin-top: 0;
    font-weight: 700;
    font-family: "Roboto Slab","ff-tisa-web-pro","Georgia",Arial,sans-serif;
}

body {
    font-family: "Lato","proxima-nova","Helvetica Neue",Arial,sans-serif;
    font-weight: normal;
    color: black;
}

 code {
     font-family: Consolas,"Andale Mono WT","Andale Mono","Lucida Console","Lucida Sans Typewriter","DejaVu Sans Mono","Bitstream Vera Sans Mono","Liberation Mono","Nimbus Mono L",Monaco,"Courier New",Courier,monospace;
 }

/* END FONTS */

a {
    color: #206A9A;
    text-decoration: none;
}
a:visited {
    color: #9b0767;

}

a:focus {
    background: #ffbf47;
    outline: 3px solid #ffbf47;
    outline-offset: 0;
}

a:hover {
    text-decoration: underline;
}


.wy-menu-vertical .subnav li.current > ul li a, .wy-menu-vertical li.current a {
    color: black;
}

.wy-side-nav-search {
    background-color: #1B567E;
}

.wy-menu-vertical span, .wy-menu-vertical a, .wy-side-nav-search a, .wy-nav-top a {
    color: white;
}

.rst-footer-buttons {
     margin-top: 60px;
}

.home-link {
     font-size: 22px;
}

h1, h2, h3, h4, h5, h6 {
     margin-top: 30px;
     margin-bottom: 4px;
}

p {
     margin: 0;
}

body>ol, body>ul {
     margin-bottom: 18px !important;
}

img {
     margin-bottom: 28px;
}


footer {
    color: black;
}

.nice-border {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 20px;
    border-style: solid;
    border-width: 1px;
    padding: 5px;
}

.nice-border img {
     margin: 0;
}

code {
    color: #b31100;
}

/* TABLES */
table.docutils {
     margin-top: 20px;
}

table.docutils thead th{
    text-align: center;
}

table.docutils td.centred{
    text-align: center !important;
}

td.result{
    text-align: center !important;
}

.rst-content table.docutils th,
.rst-content table.docutils td{
    padding: 10px 4px !important;
}

.rst-content table.profiles th,
.rst-content table.profiles td{
     font-size: 13px;
}

/*                  RED / NEGATIVE               */
table.docutils tbody tr.danger td{
    background-color: #FBBBB6 !important;
}

table.docutils tbody tr.danger td.result {
    border-left-width: 17px !important;
    border-left-color: red !important;
}

/*                  GREEN / POSITIVE               */
table.docutils tbody tr.success td{
    background-color: #B8E0B9 !important;
}

table.docutils tbody tr.success td.result {
    border-left-width: 17px !important;
    border-left-color: green !important;
}

/*                  YELLOW / NONE               */
table.docutils tbody tr.warning td{
    background-color: #FFF599 !important;
}

table.docutils tbody tr.warning td.result {
    border-left-width: 17px !important;
    border-left-color: yellow !important;
}

/* BOXES */
.success-criteria {
    margin-top: 30px;
    border-style: solid;
    border-width: 1px 1px 1px 17px;
    padding: 15px;
}

.success-criteria h3, .success-criteria h4 {
    margin-top: 0px;
}

.success-criteria hr {
    border-top: 1px solid #404040;
}

.success-criteria-danger {
    border-color: red;
    background-color: rgba(255, 0, 0, 0.09);
}

.success-criteria-warning {
    border-color: yellow;
    background-color: rgba(255, 255, 0, 0.09);
}

.success-criteria-success {
    border-color: green;
    background-color: rgba(0, 255, 0, 0.09);
}








.test-box h3, .test-box h4 {
    margin-top: 0px;
}

.test-box hr {
    border-top: 1px solid #404040;
}

.test-box ul {
     margin-bottom: 8px !important;
}

.test-box {
    margin-top: 20px;
    border-style: solid;
    border-width: 1px 1px 1px 17px;
}

.border-danger {
    border-color: red;
}

.border-warning {
    border-color: yellow;
}

.border-success {
    border-color: green;
}

.test-box-head {
     padding: 10px 15px;
     background-color: rgba(0, 0, 0, 0.3);
}

.bg-danger {
    background-color: rgba(255, 0, 0, 0.09) !important;
}

.bg-warning {
    background-color: rgba(255, 255, 0, 0.09) !important;
}

.bg-success {
    background-color: rgba(0, 255, 0, 0.09) !important;
}

.test-box-body {
     padding: 15px;
}
